// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$main-color: #FF7762;
$main-color-dark: #EA715E;
$main-color-light: #FF9686;

$second-color: #5BC0BE;
$second-color-dark: #339997;
$second-color-light: #6DCFCD;

