<footer class="hoxton-footer">
  <div class="hoxton-footer_first">
    THEE CURIOUS TRAVELLER <span>| 2020 <i class="far fa-copyright"></i> ALL RIGHTS RESERVED</span>
  </div>
  <div class="hoxton-footer_second">
    <%= link_to 'https://www.instagram.com/theecurioustraveller' do %>
      <i class="fab fa-instagram"></i>
    <% end %>
  </div>
  <div class="hoxton-footer_third">
    <p>info@theecurioustraveller.com | email address</p>
    <%= link_to download_pdf_path + "?name=TNC" do %>
      <p>Terms & Conditions</p>
    <% end %>
  </div>
</footer>
<div class="hoxton">
    <p>DEVELOPED BY | <a href="https://www.hoxton-digital.com">HOXTON DIGITAL</a> <a href="https://www.hoxton-digital.com">| LONDON WEB DEVELOPMENT</a> </p>
</div>
