<section class="section_one" id="home">
  <h1>THEE CURIOUS TRAVELLER</h1>
  <p>SOUTH AFRICAN TOUR & EXPERIENCE GUIDE</p>
  <div class="section_one_navigation">
    <a href="#home"> HOME</a>
    <a href="#activities"> ACTIVITIES</a>
    <a href="#costs"> COSTS</a>
    <a href="#contact"> CONTACT</a>
  </div>
  <div class="section_one_tour-info">
    <div class="section_one_tour-info_first">
      <p>CAPE TOWN</p>
      <p>£1,200</p>
    </div>
    <div class="section_one_tour-info_second">
      <p>TRAVEL GUIDE • 6 NIGHTS  • AIRPORT PICKUP • WINE TASTING</p>
    </div>
  </div>
</section>
<section class="section_two" id="activities">
  <div class="card">
    <img src="https://images.pexels.com/photos/1097425/pexels-photo-1097425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
    <h3>WINE TASTING</h3>
    <h4>Tour Wine Estates</h4>
    <p>Enjoy a tour of Cape Towns most beautiful Vineyards & wine taste/  dine.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/1007836/pexels-photo-1007836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
    <h3>BOAT TRAVEL</h3>
    <h4>Cape Town Bay</h4>
    <p>Relax on a luxury boat as you sail past breath-taking views.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <%= image_tag 'robben-island.png' %>
    <h3>ROBBEN ISLAND</h3>
    <h4>Historical Tour</h4>
    <p>Guided tour of the island Nelson Mandela was imprisoned for 27 years.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
</section>
<section class="section_three">
  <h3 class="section_three_header">LIST OF ACTIVITIES</h3>
  <div class="section_three_content">
    <div>
      <div class="event-card">
        <div class="event-card_date">
          <p>1st</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ARRIVAL DAY</h4>
          <h5>MEET THE OTHER TRAVELLERS AND THE TCT TEAM.</h5>
          <ul>
            <li>Airport pick ups/Hotel arrival</li>
            <li>Settle in & relax</li>
            <li>Welcome drinks at one of Cape Towns bars</li>
            <li>Meet the group & TCT team</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>2nd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>EXPLORER DAY</h4>
          <h5>A TOUR OF CAPE TOWN</h5>
          <ul>
            <li>Walking tour of the city/ Bo-Kaap</li>
            <li>Hop on/Hop off bus</li>
            <li>Table Mountain</li>
            <li>Camps Bay beach & V& Waterfront</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>3rd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ADVENTURE DAY</h4>
          <h5>SCENIC ROAD TRIP DOWN THE COAST</h5>
          <ul>
            <li>See the African Penguins at Boulders beach</li>
            <li>Explore Cape Point Nature Reserve</li>
            <li>See where the Indian ocean meets Atlantic ocean</li>
            <li>Cape point & Cape of good hope hike tour</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>4th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>CULTURE DAY</h4>
          <h5>MINGLE WITH LOCALS & LEARN ABOUT THEIR HISTORY</h5>
          <ul>
            <li>Guided tour of Robben island</li>
            <li>Followed by a Township tour</li>
            <li>Dinner at a famous homely African restaurant in Cape Town</li>
            <li>Missing one more here</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="event-picture">
        <%= image_tag 'https://images.pexels.com/photos/240561/pexels-photo-240561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <!-- <h4>ASK US ABOUT EXTRA ACTIVITES THAT CAN BE ADDED TO YOUR <span>SCHEDULE</span></h4> -->
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>5th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>WINE DAY</h4>
          <h5>WINE TASTING IN RECOGNIZED VINEYARDS</h5>
          <ul>
            <li>Franschoek wine estates tour</li>
            <li>Hop on/off wine tram</li>
            <li>Wine taste (in what vineyard?)</li>
            <li>Missing another one here</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>6th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>PEACEFUL DAY</h4>
          <h5>RELAXING ACTIVITES WITH A BIT OF SOUTH AFRICA</h5>
          <ul>
            <li>Relax at Camps bay beach or Clifton</li>
            <li>Souvenir shop at markets</li>
            <li>Sunset Boat cruise</li>
            <li>Missing one here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="contact_one">
    <form action="https://formspree.io/elias.kuyela@kuukatechnologies.com" method="post">
      <h1>CONTACT FORM</h1>
      <input placeholder="Name" type="text"  value="" required>
      <input placeholder="Email address" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
      <span class="validation-text">Please enter a valid email address.</span>
      <div class="flex">
        <textarea placeholder="Message" name="message" rows="1" required></textarea>
      </div>
      <input class="contact_form_button" type="submit" value="Send">
    </form>
  </div>
  <div class="contact_two">

  </div>
  <div class="contact_three">

  </div>
</section>
<section class="sponsors">

</section>
<footer class="hoxton-footer">
  <div class="hoxton-footer_first">
    THE CURIOUS TRAVELLER <span>| 2019 <i class="far fa-copyright"></i> ALL RIGHTS RESERVED</span>
  </div>
  <div class="hoxton-footer_second">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
  </div>
  <div class="hoxton-footer_third">
    contact@thecurioustraveller.com | +44 07447 486 514
  </div>
</footer>
<div class="hoxton">
    <p>DEVELOPED BY | <a href="https://www.hoxton-digital.com">HOXTON DIGITAL</a></p>
</div>
