<section class="section_one" id="home">
  <h1>THEE CURIOUS TRAVELLER</h1>
  <p>SOUTH AFRICAN TOUR & EXPERIENCE GUIDE</p>
  <div class="section_one_navigation">
    <a href="#home"> HOME</a>
    <a href="#activities"> ACTIVITIES</a>
    <a href="#costs"> COSTS</a>
    <a href="#contact"> CONTACT</a>
  </div>
  <div class="section_one_tour-info">
    <div class="section_one_tour-info_first">
      <p>CAPE TOWN</p>
      <p>£1,700</p>
    </div>
    <div class="section_one_tour-info_second">
      <p>TRAVEL GUIDE • 6 NIGHTS  • AIRPORT PICKUP • WINE TASTING</p>
    </div>
  </div>
</section>
<section class="section_two" id="activities">
  <div class="card">
    <img src="https://images.pexels.com/photos/1097425/pexels-photo-1097425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
    <h3>WINE TASTING</h3>
    <h4>Tour Wine Estates</h4>
    <p>Enjoy a tour of Cape Towns most beautiful Vineyards & wine taste/  dine.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/1007836/pexels-photo-1007836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
    <h3>BOAT TRAVEL</h3>
    <h4>Cape Town Bay</h4>
    <p>Relax on a luxury boat as you sail past breath-taking views.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <%= image_tag 'robben-island.png' %>
    <h3>ROBIN ISLAND</h3>
    <h4>Cave Exploration</h4>
    <p>Guided tour of the island Nelson Mandela was imprisoned for 27 years.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
</section>
<section class="section_three">
  <h3 class="section_three_header">LIST OF ACTIVITIES</h3>
  <div class="section_three_content">
    <div>
      <div class="event-card">
        <div class="event-card_date">
          <p>1st</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>PEACEFUL DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>2nd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ADVENTURE DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>3rd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ARTFUL DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>4th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>EXPLORING DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="event-picture">
        <%= image_tag 'https://images.pexels.com/photos/240561/pexels-photo-240561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <h4>ASK US ABOUT EXTRA ACTIVITES THAT CAN BE ADDED TO YOUR <span>SCHEDULE</span></h4>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>5th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>INDULGENCE DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>6th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>RELAXING DAY</h4>
          <h5>ENJOYING SOUTH AFRICAN VISUALS AND AROMAS</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="contact_one">
    <form action="https://formspree.io/elias.kuyela@kuukatechnologies.com" method="post">
      <h1>CONTACT FORM</h1>
      <input placeholder="Name" type="text"  value="" required>
      <input placeholder="Email address" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
      <span class="validation-text">Please enter a valid email address.</span>
      <div class="flex">
        <textarea placeholder="Message" name="message" rows="1" required></textarea>
      </div>
      <input class="contact_form_button" type="submit" value="Send">
    </form>
  </div>
  <div class="contact_two">

  </div>
  <div class="contact_three">

  </div>
</section>
<section class="sponsors">

</section>
<footer class="hoxton-footer">
  <div class="hoxton-footer_first">
    THE CURIOUS TRAVELLER <span>| 2019 <i class="far fa-copyright"></i> ALL RIGHTS RESERVED</span>
  </div>
  <div class="hoxton-footer_second">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
  </div>
  <div class="hoxton-footer_third">
    contact@thecurioustraveller.com | +44 07447 486 514
  </div>
</footer>
<div class="hoxton">
    <p>DEVELOPED BY | <a href="https://www.hoxton-digital.com">HOXTON DIGITAL</a></p>
</div>
