.card {
  width: 310px;
  @include absCenterColumn;

  & img {
    height: 169px;
    width: 169px;
    border-radius: 50%;
    background-size: contain;
  }

  & h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: $main-color;
    margin: 20px 0 0 0;
  }

  & h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #767676;
    margin: 0;
  }

  & p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #949494;
    margin: 30px 0 0 0;
    text-align: center;
  }

  & a {
    @include absCenter;
    text-decoration: none;

    & p:first-child {
      @include absCenter;
      height: 49px;
      width: 140px;
      background-color: $main-color;
      color: white;
      font-size: 17px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      text-align: center;

      &:hover {
        background-color: $main-color-dark;
      }
    }

    & p:last-child {
      height: 49px;
      width: 42px;
      background-color: #494949;
      color: white;
      font-size: 30px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      text-align: center;
    }
  }
}

.event-card {
  display: flex;
  margin: 20px;

  &_date {
    @include absCenterColumn
    width: 95px;
    height: 139px;
    background-color: $main-color;
    color: white;

    & p:first-child {
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      color: white;
      font-size: 35px;
      margin: 0;
    }

    & p:last-child {
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      color: white;
      font-size: 18px;
      margin: 0;
    }

  }

  &_details {
    height: 139px;
    width: 415px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 0 50px;

    & h4 {
      font-family: 'Raleway', sans-serif;
      font-size: 21px;
      font-weight: 300;
      color: #707070;
      margin: 0 0 5px 0;
    }

    & h5 {
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: $main-color;
      margin: 0;
    }

    & p {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      font-weight: 300;
      color: #868686;
      margin: 30px 0 0 0;
    }

    & li {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      font-weight: 300;
      color: #868686;
      margin: 0px 0 0 0;
    }

    & ul {
      margin: 10px 0 0 0 ;
    }
  }
}

@media only screen and (max-width: 580px) {

  .event-card {
    display: flex;
    margin: 20px;

    &_date {
      @include absCenterColumn
      width: 45px;
      height: 135px;
      background-color: $main-color;
      color: white;

      & p:first-child {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 22px;
        margin: 0;
      }

      & p:last-child {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        color: white;
        font-size: 14px;
        margin: 0;
      }

    }

    &_details {
      height: 139px;
      width: 230px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 0 0 10px;

      & h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #707070;
        margin: 0 0 5px 0;
      }

      & h5 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: 300;
        color: $main-color;
        margin: 0;
      }

      & p {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #868686;
        margin: 30px 0 0 0;
      }

      & li {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        font-weight: 300;
        color: #868686;
        margin: 0px 0 0 0;
      }

      & ul {
        margin: 10px 0 0 0 ;
        padding-left: 15px;
      }
    }
  }

}

@media only screen and (max-width: 880px) {

  .card {
    margin: 50px 0px;
    width: 310px;
    @include absCenterColumn;

    & img {
      height: 169px;
      width: 169px;
      border-radius: 50%;
      background-size: contain;
    }

    & h3 {
      font-family: 'Quicksand', sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: $main-color;
      margin: 20px 0 0 0;
    }

    & h4 {
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #767676;
      margin: 0;
    }

    & p {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 12px;
      color: #949494;
      margin: 30px 0 0 0;
      text-align: center;
    }

    & a {
      @include absCenter;
      text-decoration: none;

      & p:first-child {
        @include absCenter;
        height: 49px;
        width: 140px;
        background-color: $main-color;
        color: white;
        font-size: 17px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        text-align: center;

        &:hover {
          background-color: $main-color-dark;
        }
      }

      & p:last-child {
        height: 49px;
        width: 42px;
        background-color: #494949;
        color: white;
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  .event-card {
    display: flex;
    margin: 20px;

    &_date {
      @include absCenterColumn
      width: 45px;
      height: 135px;
      background-color: $main-color;
      color: white;

      & p:first-child {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 22px;
        margin: 0;
      }

      & p:last-child {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        color: white;
        font-size: 14px;
        margin: 0;
      }

    }

    &_details {
      height: 139px;
      width: 265px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 0 0 10px;

      & h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #707070;
        margin: 0 0 5px 0;
      }

      & h5 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: 300;
        color: $main-color;
        margin: 0;
      }

      & p {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #868686;
        margin: 30px 0 0 0;
      }

      & li {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        font-weight: 300;
        color: #868686;
        margin: 0px 0 0 0;
      }

      & ul {
        margin: 10px 0 0 0 ;
        padding-left: 15px;
      }
    }
  }
}
